header{
  display: flex;
  align-items: center;
  gap: 1.125rem;
}
.icon__container{
  background-color: var(--accent);
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon__container img{
  width: 60%;
}


h1{
  font-size: 2.25rem;
}

@media only screen and (min-width: 1200px) {
  .app__container{
    padding: 1.5rem 3rem;
  }
  .icon__container{
    height: 5.625rem;
    width: 5.625rem;
  }
  h1{
    font-size: 3.4rem;
  }
  header{
    gap: 2.125rem;
  }
}
