button{
  cursor: pointer;
  height: 14.75rem;
  width: 12.5rem;
  border-radius: var(--border-radius);
  background: transparent;
  border: 2px solid var(--white);
  color: var(--white);
}

.file-upload-input--filled{
  height: 14.75rem;
  width: 12.5rem;
  border-radius: var(--border-radius);
  background: transparent;
  border: 2px solid var(--white);
  font-size: 0.8rem;
  box-sizing: border-box;
  padding: 0.75rem 1rem;
  position: relative;
}

.file-icon__container{
  background-color: var(--accent);
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.file-icon__container > img{
  width: 75%;
}

.file__name{
  position: absolute;
  bottom: 1.5rem;
}

.times-icon__container{
  position: absolute;
  right: 0.8rem;
  top:0.8rem;
  cursor: pointer;
}