:host {
  display: block;
}

input{
  width: calc(100% - 2rem);
  background: transparent;
  border: 1px solid #858585;
  height: 2.5rem;
  color: white;
  border-radius: 12px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  user-select: none;
}
input:focus{
  border: 1px solid #c0eaf6;
}

