.apps-encrypt-flow{
  display: flex;
}

.step__container{
  flex-grow: 1;
  padding: 2rem 0rem 0rem;
}

@media only screen and (min-width: 1200px) {
  .step__container{
    padding: 4rem 6rem 3rem;
  }
}