.app__container{
  padding: 1.5rem 3rem;
}

.icon__container{
  background-color: #c0eaf6;
  height: 5.625rem;
  width: 5.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

header{
  display: flex;
  align-items: center;
  gap: 2.125rem;
}

h1{
  font-size: 3.4rem;
}
