:host {
  display: block;
}

.sidebar-root{
  display: none;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
  margin-left: 2.5rem;
}

@media only screen and (min-width: 1200px) {
  .sidebar-root{
    display: flex;
  }
}

