:host {
  display: block;
}

.text__color--primary{
  color: var(--white);
}

.text__color--accent{
  color: var(--accent);
}

.text__color--gray{
  color: var(--gray);
}

.text__color--warning{
  color: var(--warning);
}

.text__color--success{
  color: var(--success);
}

.text__size--small{
  font-size: 0.8rem
}

.text__size--medium{
  font-size: 1rem;
}