:host {
  display: block;
}

.text__color--primary{
  color: #fff;
}

.text__color--accent{
  color: #c0eaf6;
}

.text__color--gray{
  color: #858585
}

.text__color--warning{
  color: #f89797;
}

.text__color--success{
  color: #97f8b2;
}

.text__size--small{
  font-size: 0.8rem
}

.text__size--medium{
  font-size: 1rem;
}