:host {
  display: block;
}


.step-three__button__row{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 4rem;
  gap:1.25rem;
}

.step-three__content-box{
  border: 2px solid #fff;
  margin: 2.5rem 0;
  padding: 1.25rem;
  border-radius: 12px;
  height: 17.5rem;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
}

.step-three__content-box--longer{
  max-width: fit-content;
}