:host {
  display: block;
}


.step-three__button__row{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 4rem;
  gap:20px
}

.step-three__content-box{
  border:2px solid #fff;
  margin: 40px 0;
  padding: 20px;
  border-radius: 12px;
  height: 280px;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
}

.step-three__content-box--longer{
  max-width: fit-content;
}